/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



.wrapper {
    background-color: bisque;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    min-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 23px;
    padding: 2em;
    background-color: peachpuff;
    border: 2px solid black;
    margin: 2em 0;
}
p.form-submit {
    line-height: 23px;
    font-weight: bold;
}
.input {
    height: 25px;
    width: 100%;
    font-size: 16px;
    padding: 15px 0;
    margin-bottom: 5px;
}
.form p {
    margin-bottom: 5px;
}
.input.last-input {
    margin-bottom: 2.5em;
}
.input-number {
    height: 25px;
    margin-top: 5px; 
    font-size: 16px;
    padding: 12px 0;
    width: 100%; 
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: block; 
    opacity: 1;
    font-size: 2em;
} 
  
.submit-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 1em;
    padding: .5em;
    width: 100%;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: black;
    color: peachpuff;
}
.submit-button:hover {
    background-color: bisque;
    color: black;
    cursor: pointer;
}

.submit-checkout {
    margin-bottom: 2em;
    font-size: 16px;
    line-height: 20px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}
.text-checkout {
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.grid .row h2,
.grid .row span {
    flex: 1;
}
.headings {
    font-size: 18px; 
    border-bottom: 0;
    margin-bottom: -2px; 
    margin-top: 1em;
    font-weight: bold;
}



